<div class="popup-wrapper">
    <div class="popup-header">
        <h2>{{ pageData.pageTypeTitle }} Purchase Order</h2>
        
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
    </div>
    <form class="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Order No</label>
                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Order Date</label>
                    <input type="date" class="form-control" id="" placeholder="">
                  </div>  
                <div class="form-group">
                    <label for="">Discount</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div> 
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea class="form-control" id="" rows="3" cols="3" placeholder=""></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Product Id</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Price</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div> 
            </div> 
        </div>
        <button mat-raised-button type="submit" class="btn-primary">{{ pageData.pageTypeTitle }} Purchase Order</button>
        <button mat-raised-button (click)="close()">Close</button>
    </form>
</div>

