<div class="container-fluid pos-screen">
    <div class="items-n-categories-wrapper">
        
             <overlay-scrollbars class="categories"> 
                <ul class="categories-list">
                    <li><button mat-raised-button>Category #1</button></li>
                    <li><button mat-raised-button>Category #2</button></li>
                    <li><button mat-raised-button>Category #2</button></li>
                    <li><button mat-raised-button>Category #2</button></li>
                    <li><button mat-raised-button>Category #2</button></li>
                    <li><button mat-raised-button>Category #2</button></li>
                    <li><button mat-raised-button>Category #2</button></li>
                    <li><button mat-raised-button>Category #2</button></li>
                    <li><button mat-raised-button>Category #2</button></li> 
                 </ul> 
             </overlay-scrollbars>

             <div class="items"> 
                <div class="items-header">
                    <h2>Category #1</h2>
                    <form class="search-input">
                        <div class="form-group"> 
                            <i class="search-icon icon-loupe"></i>
                            <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Search Item"> 
                        </div>
                    </form>
                </div>
                <overlay-scrollbars>
                    <ul class="items-list">
                       
                    </ul> 
                </overlay-scrollbars> 
            </div>
            
         
    </div>
    <div class="checkout-panel">
        <div class="checkout-header">
            <h2>Inv #0007</h2>
            <div class="time"> 
                <i>Invoice Time</i>
                <span>08:03 pm</span>
            </div>
        </div>
        <div class="items-panel">

        </div>
        <div class="checkout-footer">
          <ul class="total-amount">
            <li>Sub Total <span>0.00</span></li>
            <li>Tax <span>0.00</span></li>
            <li class="total">Total <span>0.00</span></li>
          </ul>
        </div>
        <div class="action-btns">
            <button mat-raised-button class="discard-btn"><i class="icon-trash"></i>  Discard</button> 
            <button mat-raised-button class="print-btn"><i class="icon-cart"></i> Checkout</button>
        </div>
     </div>
    
</div>