<div class="popup-wrapper">
    <div class="popup-header">
        <h2>{{ popupData.title }}</h2>
        
        <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
            <span aria-hidden="true">×</span>
          </button>
    </div> 
    <div class="popup-body">
        {{ popupData.message }}
    </div>

    <button mat-raised-button color="danger" (click)="onConfirm()" class="btn-primary">Yes</button>
    <button mat-raised-button (click)="onDismiss()">No</button>
</div>



