<div class="container-fluid invoice-view">
    <div class="container invoice">
        <div class="company-logo">
            <div class="logo"></div>
            <div class="title-tagline">
                <h2>Company Name (Pvt) Ltd </h2>
                <ul>
                    <li class="address">No. 123, Fake Street, City, Country</li>
                    <li class="tel">011-2201234, 011-2201235</li>
                    <li>info@companmname.com</li>
                </ul>
            </div> 
        </div>
        <div class="invoice-title">
            <h1>Invoice</h1>
        </div>
        <div class="invoice-data-wrapper">
            <div class="invoice-data">
                <div class="invoice-to">
                   <h3>Mr. Jhon Doe</h3>
                    <ul>
                        <li class="address">No. 563, Fake Street Area,<br/> Dummy City ,<br/> Test Country</li> 
                    </ul>
                </div>
            </div>

            <div class="inv-details">
                <p class="inv-id"><strong>Invoice ID</strong>  #1002356</p>
                <p><strong>Invoice Date</strong> 24/02/2021</p>
            </div>
        </div>

        <table class="table invoice-item">
            <thead>
              <tr>
                <th scope="col">#</th> 
                <th scope="col">Product</th>
                <th scope="col">Price</th> 
                <th scope="col">Qty</th>
                <th scope="col">Total</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th> 
                <td>Lorem Item 1</td>
                <td>250.00</td>
                <td>2</td>
                <td>500.00</td> 
              </tr>
              <tr>
                <th scope="row">2</th> 
                <td>Lorem Item 2</td>
                <td>100.00</td>
                <td>3</td>
                <td>300.00</td> 
              </tr>
              <tr>
                <th scope="row">3</th> 
                <td>Lorem Item 3</td>
                <td>350.00</td>
                <td>1</td>
                <td>350.00</td> 
              </tr>
              <tr>
                <th scope="row">4</th> 
                <td>Lorem Item 4</td>
                <td>150.00</td>
                <td>1</td>
                <td>150.00</td> 
              </tr>
            </tbody>
        </table>
        <div class="inv-footer">
            <div class="terms-n-conditions">
                <h3>Terms & Conditions</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maiores sed beatae aut magnam animi eos nam, quidem, laudantium quia itaque iure ipsa reiciendis vero harum corporis perspiciatis adipisci delectus.</p>
            </div>
            <div class="sub-total">
                <ul>
                    <li><strong>Sub Total</strong> <span>1300.00</span></li>
                    <li><strong>Tax</strong> <span>120.00</span></li>
                    <li><strong>Total</strong> <span>1420.00</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

 