<div class="inner-page-wrapper">
    <div class="page-content"> 
        <div class="page-title-area">
            <h1>Invoices</h1>
            <button mat-raised-button color="primary"  (click)="openAddDialog()" ><i class="icon-plus"></i>  Create Invoice</button>
        </div>
        <div class="white-box-panel">
            <form class="search-input">
              <div class="form-group"> 
                <i class="search-icon icon-loupe"></i>
                <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Search"> 
              </div>
            </form>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                      <a href="javascript:void(0);" (click)="openEditDialog()" class="edit-btn"><i class="icon-edit"></i></a>
                      <a href="javascript:void(0);" (click)="openDeleteDialog()" class="delete-btn"><i class="icon-trash"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>
                      <a href="javascript:void(0);" class="edit-btn"><i class="icon-edit"></i></a>
                      <a href="javascript:void(0);" class="delete-btn"><i class="icon-trash"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td >Larry the Bird</td>
                    <td>Thornton</td>
                    <td>@twitter</td>
                    <td>
                      <a href="javascript:void(0);" class="edit-btn"><i class="icon-edit"></i></a>
                      <a href="javascript:void(0);" class="delete-btn"><i class="icon-trash"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                      <a href="javascript:void(0);" class="edit-btn"><i class="icon-edit"></i></a>
                      <a href="javascript:void(0);" class="delete-btn"><i class="icon-trash"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>
                      <a href="javascript:void(0);" class="edit-btn"><i class="icon-edit"></i></a>
                      <a href="javascript:void(0);" class="delete-btn"><i class="icon-trash"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td >Larry the Bird</td>
                    <td>Thornton</td>
                    <td>@twitter</td>
                    <td>
                      <a href="javascript:void(0);" class="edit-btn"><i class="icon-edit"></i></a>
                      <a href="javascript:void(0);" class="delete-btn"><i class="icon-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
</div>