<div class="container fluid user-auth-form-wrapper">
    <div class="container user-auth-form-container">
       <div class="row">
           <div class="col-md-7 img-area">
                <img src="/assets/images/shop.jpg" alt="">
           </div>
           <div class="col-md-5">
                <div class="card card-signin">
                    <div class="card-body">
                    <h2 class="card-title text-center">Sign Up</h2>
                    <form class="form-signin">
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control" required >
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" class="form-control" required>
                        </div> 
                        <div class="form-group">
                            <label for="inputPassword">Retype Password</label>
                            <input type="password" id="inputPassword" class="form-control" required>
                        </div> 
                        <a href="">Forgot Password?</a>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase login-btn" type="submit">Sign Up</button>
                        <hr class="my-4">
                        <div class="social-login-area">
                            <p>Or Login With</p>
                            <button class="btn btn-lg btn-google text-uppercase" type="button"><img src="/assets/images/google.svg" alt=""></button>
                            <button class="btn btn-lg btn-facebook text-uppercase" type="button"><img src="/assets/images/facebook.svg" alt=""></button>
                        </div>
                    </form>
                    </div>
                </div>
                <p class="sign-up-link">Don't have an account <a routerLink="/login">Login</a></p>
           </div>
           
       </div>
    </div>
</div>